*{
    margin:0;
    padding:0;
    font-family:verdana;
  }
  #abc{
    width:100%;
    height:90vh;
    background-image: url(photo/img3.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
  }
  #ser{
    width:100%;
    height:90vh;
    background-image: url(photo/ser.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
  }
  #pri{
    width:100%;
    height: 90vh;
    background-image: url(photo/per.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
  }
  
  #dis{
    width:100%;
    height:100vh;
   
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
  }
  nav{
    width: 100%;
    height: 50px;
    background-color: transparent;
    line-height: 50px;
    overflow: hidden;
    position: fixed;
    z-index: 9999;
  }
  .navbar-brand{
    position: sticky;
    padding-top: 0px;
    border: 0px;
    height: 60px;
  }
  
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:#088;
  }
  nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 30px;
    font-size: 15px;
  }
  .navbar-brand--scrolled {
    /* change background-color to whatever you want */
    background-color: rgb(3, 3, 3);
  }
  
  
  
  span style
  {
    font-size: 160%;
    line-height: normal;
    text-align: center;
  }
  h1{
    padding-top: 250px;

    color: white;
    font-family: monospace;
   font-size: 500%;
   }
  img{
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
   .neonText {
    color: #fff;
    text-shadow:
        
        0 0 42px red,
        0 0 82px red,
        0 0 92px red,
        0 0 102px rgb(145, 35, 35),
        0 0 151px #0fa;
  }
  .sertext{
    background: linear-gradient(to left,
    rgb(247, 0, 255),
    rgb(255, 8, 0) 
  );
-webkit-background-clip: text;
color: transparent;

padding-left: 50px;
}
.sertext1{
  color: white;
  padding-left: 50px;
}
.sertext2{
  background: linear-gradient(to left,
  rgb(247, 0, 255),
  rgb(255, 8, 0) 
);
-webkit-background-clip: text;
color: transparent;

padding-left: 50px;
}
.sertext3{
  background: linear-gradient(to left,
  rgb(247, 0, 255),
  rgb(255, 8, 0) 
);
-webkit-background-clip: text;
color: transparent;

padding-left: 50px;
}
.sertext4{
  background: linear-gradient(to left,
  rgb(247, 0, 255),
  rgb(255, 8, 0) 
);
-webkit-background-clip: text;
color: transparent;

padding-left: 50px;
}
  /* Additional styling */
    #ca{
      background-image: url(photo/bak.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
    }
  #bo {
    font-size: 12px;
    font-family: "Vibur", sans-serif;
    background-color: #ffffff;
  }  
  .button {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );
    color: black; 
    border: 2px solid  linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 11px;
    padding-bottom: 6px;
    
  }
  
  .button1:hover {
    background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );
    color: white;
  }
  .button2 {
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button3 {
    background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );
    color: black; 
    border: 2px solid  linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 11px;
    padding-bottom: 6px;
    
  }
  
  .button3:hover {
    background: linear-gradient(
      149deg,
      rgb(247, 0, 255) 0%,
      rgb(255, 145, 0) 100%
    );
    color: white;
  }
  #nm{
    width:100%;
    height:100vh;
    background-image: url(photo/ssb2.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;
    

  }
  .text{
    
    color: white;
    font-family: "GroldSlim-SemiLight",Sans-serif;
   font-size: 300%;
   padding-top: 150px;
   padding-left: 30px;
  }
  .text1{
    color: orangered;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 269px;
    padding-top: 24px;

  }
  .text2{
    color: red;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 475px;
    padding-top: 24px;
    margin-top: -58px;

  }

  .text3{
    color: yellow;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 673px;
    padding-top: 24px;
    margin-top: -58px;

  }
  .text4{
    color: whitesmoke;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 800px;
    padding-top: 24px;
    margin-top: -58px;

  }
  .text5{
    color: red;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 853px;
    padding-top: 24px;
    margin-top: -58px;

  }
  .text6{
    color: whitesmoke;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    padding-left: 1046px;
    padding-top: 24px;
    margin-top: -58px;

  }
  .text7{
    color: black;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    
    background-color: white;
    width: 100%;
  }
  .text8{
    color: orangered;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    
    background-color: white;
  }
  .text9{
    color: black;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    
    background-color: white;
  }
  .text11{
    color: black;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    background-image: linear-gradient(40deg, #ff1100f1 0%, #a902f7 45%, #020005 100%);
    

  }
  .text12{
    color: black;
    font-family: "GroldSlim-SemiLight",Sans-serif;
    font-size: 30px;
    
    padding-top: 24px;
    background-color: white;
  }
  .text13{
    color: black;
    font-family: "GroldSlim-Light",Sans-serif;
    font-size: 25px;
    
    padding-top: 24px;
    background-color: white;
  }
  .text14{
    color: black;
    font-family: "GroldSlim-Light",Sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    
  }
  
  #mm{
    width:100%;
    height:80vh;
    background-image: linear-gradient(40deg, #020202f1 0%, #000000 45%, #000000 100%);
    background-repeat: no-repeat;
  background-attachment: fixed;
    background-size: cover;

  }
  .site-footer
{
  background-color:rgba(247, 25, 25, 0.333);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.site-footer a
{
  color:whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

img {
  width: 100%;
  height: auto;
}
/*Card*/
#card {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
}
#card .container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
#card .container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
#card .container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#card .container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
#card .container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}
#card .container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#card .container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#card .container .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#card .container .card .face.face2 {
  transition: 0.5s;
}
#card .container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
#card .container .card:hover .face.face2 {
  height: 60px;
}
#card .container .card:hover .face.face2 h2 {
  font-size: 2em;
}
#card .container .card:nth-child(1) .face.face2 {
  background-color: #df8c06;
  border-radius: 15px;
}
#card .container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #ff00d4f1 0%, #f60000 45%, #09078d 100%);
  border-radius: 15px;
}
#card .container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #ff00d4f1 0%, #f60000 45%, #09078d 100%);
  border-radius: 15px;
}
   /*Keycontent*/
   @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
   :root {
     --d: 700ms;
     --e: cubic-bezier(0.19, 1, 0.22, 1);
     --font-sans: "Rubik", sans-serif;
     --font-serif: "Cardo", serif;
   }
   
   
   .page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
  }
  @media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  
  .card1 {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  }
  @media (min-width: 600px) {
    .card1 {
      height: 350px;
    }
  }
  .card1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  }
  .card1:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
  .card1:nth-child(1):before {
    background-image: url(photo/WWD.jpg);
  }
  .card1:nth-child(2):before {
    background-image: url(photo/polotno\ \(1\).png);
  }
  .card1:nth-child(3):before {
    background-image: url(photo/isrc.png);
  }
  .card1:nth-child(4):before {
    background-image: url(photo/yt2.png);
  }
  
  .content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
  }
  .content1 > * + * {
    margin-top: 1rem;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
  }
  
  .btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
  }
  .btn:hover {
    background-color: #0d0d0d;
  }
  .btn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
  
  @media (hover: hover) and (min-width: 600px) {
    .card1:after {
      transform: translateY(0);
    }
  
    .content1 {
      transform: translateY(calc(100% - 4.5rem));
    }
    .content1 > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
  
    .card1:hover,
  .card1:focus-within {
      align-items: center;
    }
    .card1:hover:before,
  .card1:focus-within:before {
      transform: translateY(-4%);
    }
    .card1:hover:after,
  .card1:focus-within:after {
      transform: translateY(-50%);
    }
    .card1:hover .content1,
  .card1:focus-within .content1 {
      transform: translateY(0);
    }
    .card1:hover .content1 > *:not(.title),
  .card1:focus-within .content1 > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
  
    .card1:focus-within:before, .card:focus-within:after,
  .card1:focus-within .content1,
  .card1:focus-within .content1 > *:not(.title) {
      transition-duration: 0s;
    }
  }
    /*keyyyy 2222*/

    @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
    :root {
      --d: 700ms;
      --e: cubic-bezier(0.19, 1, 0.22, 1);
      --font-sans: "Rubik", sans-serif;
      --font-serif: "Cardo", serif;
    }
    
    
    .page-content1 {
     display: grid;
     grid-gap: 1rem;
     padding: 1rem;
     max-width: 1024px;
     margin: 0 auto;
     font-family: var(--font-sans);
   }
   @media (min-width: 600px) {
     .page-content1 {
       grid-template-columns: repeat(2, 1fr);
     }
   }
   @media (min-width: 800px) {
     .page-content1 {
       grid-template-columns: repeat(4, 1fr);
     }
   }
   
   .card2 {
     position: relative;
     display: flex;
     align-items: flex-end;
     overflow: hidden;
     padding: 1rem;
     width: 100%;
     text-align: center;
     color: whitesmoke;
     background-color: whitesmoke;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
   }
   @media (min-width: 600px) {
     .card2 {
       height: 350px;
     }
   }
   .card2:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 110%;
     background-size: cover;
     background-position: 0 0;
     transition: transform calc(var(--d) * 1.5) var(--e);
     pointer-events: none;
   }
   .card2:after {
     content: "";
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 200%;
     pointer-events: none;
     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
     transform: translateY(-50%);
     transition: transform calc(var(--d) * 2) var(--e);
   }
   .card2:nth-child(1):before {
     background-image: url(photo/p1.png);
   }
   .card2:nth-child(2):before {
     background-image: url(photo/l.png);
   }
   .card2:nth-child(3):before {
     background-image: url(photo/cr1.png);
   }
   .card2:nth-child(4):before {
     background-image: url(photo/st.png);
   }
   
   .content2 {
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     padding: 1rem;
     transition: transform var(--d) var(--e);
     z-index: 1;
   }
   .content2 > * + * {
     margin-top: 1rem;
   }
   
   .title2 {
     font-size: 1.3rem;
     font-weight: bold;
     line-height: 1.2;
   }
   
   .copy2 {
     font-family: var(--font-serif);
     font-size: 1.125rem;
     font-style: italic;
     line-height: 1.35;
   }
   
   .btn2 {
     cursor: pointer;
     margin-top: 1.5rem;
     padding: 0.75rem 1.5rem;
     font-size: 0.65rem;
     font-weight: bold;
     letter-spacing: 0.025rem;
     text-transform: uppercase;
     color: white;
     background-color: black;
     border: none;
   }
   .btn2:hover {
     background-color: #0d0d0d;
   }
   .btn2:focus {
     outline: 1px dashed yellow;
     outline-offset: 3px;
   }
   
   @media (hover: hover) and (min-width: 600px) {
     .card2:after {
       transform: translateY(0);
     }
   
     .content2 {
       transform: translateY(calc(100% - 4.5rem));
     }
     .content2 > *:not(.title2) {
       opacity: 0;
       transform: translateY(1rem);
       transition: transform var(--d) var(--e), opacity var(--d) var(--e);
     }
   
     .card2:hover,
   .card2:focus-within {
       align-items: center;
     }
     .card2:hover:before,
   .card2:focus-within:before {
       transform: translateY(-4%);
     }
     .card2:hover:after,
   .card2:focus-within:after {
       transform: translateY(-50%);
     }
     .card2:hover .content2,
   .card2:focus-within .content2 {
       transform: translateY(0);
     }
     .card2:hover .content2 > *:not(.title2),
   .card2:focus-within .content2 > *:not(.title2) {
       opacity: 1;
       transform: translateY(0);
       transition-delay: calc(var(--d) / 8);
     }
   
     .card2:focus-within:before, .card2:focus-within:after,
   .card2:focus-within .content2,
   .card2:focus-within .content2 > *:not(.title2) {
       transition-duration: 0s;
     }
   }

.key{
  background-image: url(photo/img2.jpg);
  background-repeat: no-repeat;
background-attachment: fixed;
  background-size: cover;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(149deg, 
    rgb(109, 2, 248) 0%,
    rgb(255, 145, 0) 100%
   100%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
  height: 100%;
}

.lyca-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .lyca-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .lyca-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}
.lyca{
  list-style: none;
  position: relative;
}

.lyca:before{
  content: '';
  display: block;
  padding-bottom: 100px;
  width: 100%;
}

.lyca__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.lyca:hover .lyca__background{
  transform: scale(1.05) translateZ(0);
}

.lyca-grid:hover > .lyca:not(:hover) .lyca__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.lyca__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.lyca__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.lyca__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}

.aj_p{
  text-align: center;
}

p.aj_des {
  color: grey;
  padding-bottom: 30px;
  font-size: 14px;
}

.table.premium {
  margin: -20px;
}

.premium_all {
  padding-top: 22px;
}

.price-area .inner-area{
  height: 100%;
  width: 100%;
  line-height: 70px;
  text-align: center;
  color: #fff;
  position: relative;
}

.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 5px;
}

.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}

.table .package-name{
  width: 100%;
  height: 2px;
  margin :35px 0;
  position: relative;
}

.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}

.features li .icon{
  font-size: 15px;
}

.features li .icon.check{
  color: #2db94d;
}

.features li .icon.cross{
  color: #cd3241;
}

.table .btnn{
  width: 100%;
  display: flex;
  justify-content: center;
}

.table .btnn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table .btnn button:hover{
  border-radius: 5px;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area,
.basic .head_tab h2{
  color:red;
}

.basic .btnn button{
  background: red;
  color: #fff;
  margin-top: -75px;
}

.basic .btnn button:hover{
  background: rgba(240, 101,36);
  color: #fff;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .head_tab h2{
  color:#ba24f0;
}

.premium .btnn button{
  background: #ba24f0;
  color: #fff;
  margin-top: -75px;
}

.premium .btnn button:hover{
  background: rgba(240, 101,36);
  color: #fff;
}

.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area,
.ultimate .head_tab h2{
  color:#f5b55a;
}

.ultimate .btnn button{
  background: #f5b55a;
  color: #fff;
  margin-top: -75px;
}

.ultimate .btnn button:hover{
  background: rgba(240, 101,36);
  color: #fff;
}

@media (max-width:756px){
  .wrapper .table{
    width: 100%;
  }

  .table.premium{
    margin: 40px 0px;
  }
  .table.ultimate{
    margin: 0px;
  }
}

::selection{
  color:#fff;
}

.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.table .ribbon::before,
table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #ba24f0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.table .ribbon::before{
  top: 0px;
  right: 15px;
}

.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}

.table .ribbon span{
  position: absolute;
  top:30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #ba24f0;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}
.btnn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
 
  border: none;
}
.text16{
  color: #060202;
  font-family: "GroldSlim-SemiLight",Sans-serif;
  
}
#text17{

}
